<script>
    let command: string = '';
    const commands = ['help', 'whoami', 'yolo', 'clear'];

    document.addEventListener('DOMContentLoaded', () => {    
        const input = document.querySelector('.terminal__input') as HTMLInputElement;
        const terminal = document.querySelector('.terminal') as HTMLDivElement;
        const terminalDisplay = document.querySelector('.terminal__display') as HTMLDivElement;
        const terminalDisplayContainer = document.querySelector('.terminal__display-container') as HTMLDivElement;

        input?.addEventListener('keyup', (event) => handleKeyUp(event));
        terminal.addEventListener('click', () => {
        input.focus();
    });
    
    document.addEventListener('keydown', (event) => {
        if (event.metaKey && event.key === 'k') {
            clearScreen();
        } else if (event.ctrlKey && event.key === 'l') { 
            clearScreen();
        }
    });

    function clearScreen() {
        terminalDisplay.textContent = '';
    }

    function handleKeyUp(event: KeyboardEvent) {
        if (event.key === 'Enter' || event.keyCode === 13) {
            console.log('Enter key pressed', command);
            input.value = '';
            const output = handleCommand(command);
            console.log('Output:', output);
            terminalDisplay.textContent += output + '\n' + '\n';
            command = '';
            terminalDisplayContainer.scrollTop = terminalDisplayContainer.scrollHeight;
        } else {
            command = input.value.trim();
            if (commands.includes(command)) {
                input.classList.add('valid-command');
            } else {
                input.classList.remove('valid-command');
    }
        }
    }

    function handleCommand(command: string): string {
        switch (command) {
            case 'help':
                return 'You can use the following commands: ...';
            case 'whoami':
                return 'guest';
            case 'clear':
                terminalDisplay.textContent = '';
                return '';
            default:
                return `sh: Unknown command: ${command}. See 'help' for info.`;
        }
    }
});
</script>

<div class="terminal">
    <div class="terminal__title-container">
        <div class="close-button"></div>
        <div class="hide-button"></div>
        <div class="resize-button"></div>
        <div class="terminal__title">guest@MacBook-Air-2:~</div>
    </div>
    <div class="terminal__content">
        <div class="terminal__display-container">
            <div class="terminal__display"></div>
        </div>
        <div class="terminal__input_container">
            <div class="terminal___input_container-prompt">
                <span class="terminal__input_container-promt-1">λ</span>
                <span class="terminal__input_container-promt-2">~</span>
                <span class="terminal__input_container-promt-3">&gt;&gt;</span>
                <input class="terminal__input" id="input-field" autofocus />
            </div>
        </div>
    </div>
</div>

<style>
    .terminal__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.6);
        height: 400px;
        width: 800px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    
    .terminal__title-container {
        background-color: #C8C8C8;
        backdrop-filter: blur(10px);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        color: black;
        font-weight: bold;
        width: 100%;
        align-items: center;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: center;
        font-size: 12px;
        border-bottom: black 1px solid;
    }
    
    .terminal__display-container {
        flex: 1;
        overflow: auto;
    }
    
    .terminal__display {
        color: white;
        padding: 10px;
        white-space: pre-wrap;
    }
    
    
    .terminal__input {
        margin: 0 auto;
        bottom: 0%;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.0);
        border: none;
        color: #83ABDA;
        margin-bottom: 25px;
        font-size: 15px;
    }
    
    .terminal__input:focus {
        outline: none;
    }
    
    .terminal__input_container-promt-1 {
        color: #A56C4C;
        margin-left: 20px;
        margin-bottom: 25px;
    }
    
    .terminal__input_container-promt-2 {
        color: #AF91E8;
        margin-left: 5px;
        margin-bottom: 25px;
    }
    
    .terminal__input_container-promt-3 {
        color: #2290A4;
        margin-bottom: 25px;
        margin-left: 5px;
        font-size: 12px;
    }

    .close-button{
        width:12px;
        height:12px;
        margin-left:10px;
        border-radius:50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color:#FF605C;
    }
    .hide-button{
        width:12px;
        height:12px;
        border-radius:50%;
        margin-left:8px;
        margin-right:8px;
        background-color:#FFBD44;
    }
    .resize-button{
        width:12px;
        height:12px;
        border-radius:50%;
        background-color:#00CA4E;
    }
    .terminal__title {
        flex-grow: 1;
        text-align: center;
    }
    .terminal__input.valid-command {
    color: rgb(36, 170, 36);
}
</style>
